
services:
  chroma-rag:
    #image: chromadb/chroma@sha256:7c44cf61eb3f210fa8641c6c943d5621b9626ce863d89247183ffde37717e576
    image: chromadb/chroma:1.1.1
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    volumes:
      - ./data/chroma:/data
#      - my_chroma_data:/data


# docker run --gpus=all -d -v ollama:/root/.ollama -p 11434:11434 --name ollama ollama/ollama
  ollama-rag:
    build:
      context: .
      dockerfile: ollama.dockerfile
    #volumes:
    #  - ollama:/root/.ollama
    ports:
      - "11434:11434"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

#volumes:
#  ollama:
#    name: ollama
#    external: true
#  my_chroma_data: